body {
  background: none;
}

#header {
  background-color: #000000;
}

main {
  margin-top: 70px;
}

#btn-whats {
  bottom: 100px;
}

@media screen and (min-width: 480px) {
  .hero-mobile {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .hero-desk {
    display: none;
  }
}

@media screen and (max-width: 999px) {
  #header {
    padding: 0 1rem;
    position: static;
  }

  #logo img {
    display: unset;
  }

  .nav-list {
    height: 30vh;
  }

  main {
    margin-top: 0 !important;
  }

  #btn-whats {
    bottom: 70px;
    right: 20px;
  }

  #btn-encomenda {
    bottom: 20px;
    right: 20px;
    font-size: 0.5rem;
  }
}
